.confirm-wrapper {
     width: 100%;
     max-width: 500px;
     padding: 20px;
     border-radius: 20px;
     position: relative;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     top: 20px;
     left: 50%;
     transform: translateX(-50%);
     background-color: gray;
     transition: all 0.4s;
}
.title {
     width: 100%;
     text-align: center;
     font-weight: 900;
     font-size: 40px;
     margin: 10px 0;
}
.body {
     font-size: 24px;
     text-align: center;
}
.buttons {
     width: 100%;
     button {
          font-size: 32px;
          font-weight: 600;
     }
     display: flex;
     justify-content: space-around;
     align-items: center;
}
