.draggable-block {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    font-weight: bold;

    position: relative;
    width: 200px;
    height: 200px;
    border: 2px solid black;
    background: brown;
    cursor: grab;
    &:active {
        cursor: grabbing;
    }
}
