.input-select-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    // max-width: 500px;
    margin: 10px 0;
    cursor: pointer;
    position: relative;
    label {
        margin-bottom: 5px;
        font-style: italic;
    }
    .control-wrapper {
        width: 100%;
        > option {
            background-color: gray;
        }
        .options {
            position: absolute;
            transition: all 0.3s;
            top: 43px;
            left: 0;
            z-index: 10;
            width: 100%;
            background-color: bisque;
            option {
                &:hover {
                    transition: all 0.2s;
                    opacity: 0.3;
                }
            }
            option:not(:last-child) {
                border-bottom: 1px solid red;
            }
        }

    }
}
