<div [formGroup]="form" class="input-select-wrapper">
    <label *ngIf="input.label">{{ input.label }}</label>
    <div
        [formControlName]="input.name"
        ngDefaultControl
        (mouseenter)="openDropdownType === 'hover' && toggleDropdown(true)"
        (mouseleave)="openDropdownType === 'hover' &&  toggleDropdown(false)"
        (click)="openDropdownType === 'click' &&  toggleDropdown(!isOpenDropdown)"
        class="control-wrapper"
    >
        <option>
            {{ inputSelect.selectedOption?.text || inputSelect.placeholder || "..." }}
        </option>
        <div  class="options" *ngIf="isOpenDropdown">
            <option
                *ngFor="let option of inputSelect.options"
                [value]="option.value"
                (click)="selectOption(option)"
            >
                {{ option.text }}
            </option>
        </div>
        <app-control-error *ngIf="isError" [text]="error"></app-control-error>
    </div>

</div>
