<div
    #inputBaseDir="appInputBase"
    appInputBase
    [formGroup]="form"
    class="input-base-checkbox"
    [ngStyle]="{ display: 'flex', 'flex-direction': config.flexDirection }"
    (click)="log()"
>
    <div
        *ngFor="let option of options"
        class="checkbox-wrapper"
        (click)="selectCheckbox(option)"
    >
        <input
            [formControlName]="option.value"
            [type]="config.type"
            [value]="option.value"
            [id]="option.value"
            [checked]="option.isChecked"
        />
        <label [for]="option.value">{{ option.label }}</label>
    </div>
</div>
