<div
    [formGroup]="form"
    class="input-checkbox-wrapper"
    [ngStyle]="{ display: 'flex', 'flex-direction': input.flexDirection }"
>
    <label *ngIf="input.label">{{input.label}}</label>
    <div
        *ngFor="let option of options"
        class="checkbox-wrapper"
        [formArrayName]="input.name"
    >
        <input
            (change)="toggleCheckbox(option, $event)"
            [formControlName]="option.value"
            type="checkbox"
            [value]="option.value"
            [id]="option.value"
            [checked]="option.isChecked"
        />
        <label [for]="option.value">{{ option.label }}</label>
    </div>
</div>
