.input-checkbox-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    .checkbox-wrapper {
        display: flex;
        input {
            margin-right: 15px;
        }
    }
}

