<p>lazy2-component COUNT: {{ count$ | async }}!</p>
<div>LENGTH: {{ length$ | async }}</div>

<button (click)="showModal()">Show modal</button>
<button (click)="showTemplateModal()">Show Template Modal</button>

<ng-template [cdkPortalOutlet]="portalComponent" (attached)="onModalAttach($event)"></ng-template>

<button (click)="createAlert()">Create alert</button>
<button (click)="closeAllAlerts()">Close alerts</button>

<div class="container-div" #containerDiv></div>

<button (click)="openModalFromDynamicService()" style="padding: 5px; margin: 10px 0">Open modal with createComponent in service</button>
<button (click)="openModalInVCRef()" style="padding: 5px; margin: 10px 0">Open modal ViewContainerRef in service</button>

<app-draggable-block></app-draggable-block>

<ng-template #template let-text="text" let-id="id" let-view="view">
    <app-alert [text]="text" [id]="id" [view]="view" (onClose)="closeAlert($event)"></app-alert>
</ng-template>
