<div class="accordeons-wrapper">
    <ng-container *ngIf="accordeons.length; else empty">
        <div *ngFor="let accordeon of accordeons" [id]="accordeon.id">
            <ng-container *ngTemplateOutlet="accordeonTemplate; context: { accordeon: accordeon }"></ng-container>
        </div>
    </ng-container>
    <ng-container *ngTemplateOutlet="addAccordeonTemplate"></ng-container>
</div>

<ng-template #accordeonTemplate let-accordeon="accordeon">
    <div class="accordeon" [id]="accordeon.id">
        <div (click)="toggleAccordeon(accordeon)" class="accordeon-title-wrapper">
            <span class="title">{{ accordeon.title }}</span>
            <span class="arrow" [class.open]="accordeon.isOpen">▼</span>
        </div>
        <div *ngIf="accordeon.isOpen" class="accordeon">
            <ng-container *ngIf="accordeon.options?.length; else empty">
                <div *ngFor="let nestedAccordeon of accordeon.options">
                    <ng-container *ngTemplateOutlet="accordeonTemplate; context: { accordeon: nestedAccordeon }"></ng-container>
                </div>
            </ng-container>
            <ng-container *ngTemplateOutlet="addAccordeonTemplate; context: { accordeon: accordeon }"></ng-container>
        </div>
    </div>
</ng-template>

<ng-template #addAccordeonTemplate let-accordeon="accordeon">
    <div class="add-accordeon-wrapper">
        <input #input class="left" type="text" placeholder="Input accrodeon title..." />
        <div (click)="accordeon ? addAccordeon(input.value, accordeon) : addAccordeon(input.value)" class="right">
            <span class="material-symbols-outlined"> add_box </span>
            <span> Add new accordeon</span>
        </div>
    </div>
</ng-template>

<ng-template #empty>
    <span>Empty yet...</span>
</ng-template>
