.accordeons-wrapper {
    border: 2px solid green;
    padding: 10px;
    .action {
        cursor: pointer;
        display: flex;
        align-items: center;
        margin-right: 10px;
        &:hover {
            transition: all 0.5s;
            border: 1px solid black;
            background-color: aqua;
        }
    }
}
.add-accordeon-wrapper {
    display: flex;
    align-items: center;
}
.accordeon {
    display: flex;
    flex-direction: column;
    background-color: red;
    justify-content: space-between;
    font-size: 20px;
    font-style: italic;
    margin: 0 10px;
    .accordeon-title-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        .title {
            text-decoration: underline;
        }
        .arrow {
            transition: all 0.3s;
            &.open {
                transform: rotate(-180deg);
            }
        }
        .accordeon-title-right {
            display: flex;
            align-items: center;
            width: 100px;
            justify-content: space-around;
        }
    }
    .accordeon-body {
        display: flex;
        justify-content: space-around;
        padding-left: 10px;
    }
}
