.blur {
     position: fixed;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background: rgba(50, 50, 50, 0.6);
     display: flex;
     align-items: center;
     justify-content: center;
     overflow-y: hidden;
     h1 {
          position: absolute;
          top: 0;
          text-align: center;
          color: aqua;
     }
}
