<div class="wrapper">
    <app-infinite-accordeon [accordeons]="accordeons"></app-infinite-accordeon>
    <h1 [ngClass]="{ title }">{{ title | titlecase }}</h1>
    <input type="text" placeholder="Search products..." [(ngModel)]="name" (ngModelChange)="onNgModelChange($event)" />
    <app-input ngDefaultControl [(ngModel)]="name" (ngModelChange)="onNgModelChange($event)"></app-input>
    <button (click)="changeName()">Add 1 in input</button>
    <button *ngIf="!(modalService.isOpenModal$ | async)" (click)="openModal()">Show form</button>
    <p *ngIf="isLoading">Wait please...</p>
    <div *ngIf="products" class="product">
        <app-product *ngFor="let product of products | filterProducts: name; let i = index" [i]="i" [product]="product"></app-product>
    </div>
    <app-modal *ngIf="modalService.isOpenModal$ | async" title="Modal Title">
        <app-create-product></app-create-product>
    </app-modal>
    <section style="border: 2px solid red"></section>
    <section class="radio-controls" [formGroup]="form">
        <div *ngFor="let group of radioGroups" class="radio-row">
            <div *ngFor="let radio of group" class="radio-row__item">
                <input type="radio" [value]="radio.value" [id]="radio.value" [formControlName]="radio.name" />
                <label [for]="radio.value">{{ radio.label }}</label>
            </div>
        </div>
        <div class="radio-row"></div>
    </section>
    <button (click)="updateRandomNum()">Update random num</button>
    <app-spin-number [num]="randomNum"></app-spin-number>

    <div class="higlighted-span">
        <h2>Dynamic higlighting</h2>
        <div class="body">
            <input type="number" min="0" value="1" (input)="changeRange($event, 'from')" />
            <input type="number" min="0" value="2" (input)="changeRange($event, 'to')" />
            <p higlighter [range]="hlRange" [color]="'orange'" contenteditable="true" (input)="onTyping()"></p>
        </div>
    </div>
</div>
