.title {
     text-align: center;
}
.wrapper {
     padding: 20px;
     border: 2px solid black;
}
input {
     width: 100%;
}
nav {
     display: flex;
     font-size: 40px;
     width: 100%;
     justify-content: space-around;
     a {
          text-decoration: none;
          color: black;
     }
     a:hover {
          color: red;
     }
}
