nav {
     display: flex;
     font-size: 40px;
     width: 100%;
     justify-content: space-around;
     a {
          text-decoration: none;
          color: black;
     }
     a:hover {
          color: red;
     }
}
body {
     margin: 0;
     height: 100%;
     overflow: hidden;
}
